
@{
    /**/

    ViewBag.Title = "ReadOnlyLineChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.onload = function(){

        var dataPoints = [];
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Example Line Chart"
            },
            axisY: {
                includeZero: false
            },
            data: [{
                type: "line",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
            }]
        });
        chart.render();
        $('button').click(function plot() {
            var location1 = $("#location option:selected").val();
            var year1 = $("#year option:selected").val();
            console.log(year1 + " " + location1);
            $.ajax({
                url: "/VacationRequest/ReadOnlyLineChart",
                data: {
                    year: year1,
                    location: location1
                },
                success: function () {
                    @*dataPoints = @Html.Raw(ViewBag.DataPoints);*@
                    chart.data.dataPoints = @Html.Raw(ViewBag.DataPoints);
                }
            });
            chart.render();
            console.log(dataPoints[0]);
        });
    }
</script>

<br />
<br />
<div>
    <div class="container flexEnd">
        <div id="location" class="col-md-3 text-center">
            <b>Location: </b>
            <select>
                <option value="Select_Location">Select a Location</option>
                <option value="Colima">Colima</option>
                <option value="Merida">Merida</option>
            </select>
        </div>
        <div id="year" class="col-md-2 text-right">
            <b>Year: </b>
            <select>
                <option value="Select_Year">Select a Year</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div id="button" class="col-md-2 text-right">
            <button class="btn btn-lg btn-primary" style="width: 250px">Generate Chart</button>
        </div>
    </div> <!-- container end -->
</div> <!-- form-group end -->

<br />
@Html.Raw(ViewBag.DataPoints)

<div id="chartContainer" style="height: 370px; width: 100%;"></div>



@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    @Scripts.Render("~/Scripts/canvasjs.min.js")
}

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>