@model IEnumerable<PES.ViewModels.ReadOnlyUserViewModel>

<div>
    <div class="row text-center">
        <br />
        <div class="col-md-12">
            <h2>Request History</h2>
        </div>
        <br />
    </div>
    <div class="well">
        <div class="tab-content">
            <div id="pending" class="tab-pane fade in active">
                <div id="Tableview_wrapper" class="dataTables_wrapper from-inline dt-bootstrap select2-no-results footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="Tableview" border="1" class="table init-datatable">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Creation Date</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Return Date</th>
                                            <th>Days</th>
                                            <th>Status</th>
                                            <th>Manager Name</th>
                                            <th>Request Type</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var request in Model)
                                        {
                                            <tr class="odd">
                                                <td><a href="@Url.Action("ReadOnlyDetails", "VacationRequest", new { headerId = request.RequestID } )"> @request.TitleOfRequest </a></td>
                                                <td>@request.EmployeeFirstName @request.EmployeeLastName</td>
                                                <td>@request.CreationDate.ToString("MM/dd/yyyy")</td>
                                                <td>@request.StartDate.ToString("MM/dd/yyyy")</td>
                                                <td>@request.EndDate.ToString("MM/dd/yyyy")</td>
                                                <td>@request.ReturnDate.ToString("MM/dd/yyyy")</td>
                                                <td>@request.NumberOfDays</td>
                                                <td>@request.StatusOfRequest</td>
                                                <td>@request.ResourceManager</td>
                                                <td>@request.RequestType</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/showEmployees.js")
    @Scripts.Render("~/Scripts/historicalResource.js")

}

@section Styles {
    @Styles.Render("~/Content/datatables/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/ExportDataTables/buttons.dataTables.min.css")
    @Styles.Render("~/Content/css/historical-resource.css")
    @Styles.Render("~/Content/datatables/dataTables.bootstrap.min.css")
}

